.github/copilot-instructions.md
.vscode/*.log
backup*.zip
libs/*.lib
obj
assets
contrib/**/*.lib
bin/**/
**/aux
**/old
dsk
externals
*.class
_*
res/out
includes/strings_index.h
src/libs/utils_strings_zx0.c
*.zip
*.wav
*.mp3
