.github/copilot-instructions.md
.vscode/*.log
backup*.zip
libs/*.lib
obj
assets
contrib/**/*.lib
bin/**/
**/aux
**/old
**/out
dsk
externals
*.class
_*
includes/strings_index.h
src/libs/utils_help_zx0.c
*.zip
*.wav
*.mp3
